body {
    font-family: Helvetica;
    display: flex;
    flex-wrap: wrap;
}

#s1 {
    height: 400px;
    width: 70%;
    background-color: snow;
    text-align: center;
}
#s2 {
    height: 400px;
    width: 70%;
    background-color: snow;
    font-size: 150%;
}


#s3 {
    height: 150px;
    width: 30%;
    background-color: steelblue;
    color: white;
    text-align: center;

}
#s4 {
    height: 350px;
    width: 30%;
    background-color: snow;
    color: white;
}
#s5 {
    height: 300px;
    width: 30%;
    background-color: snow;
    text-align: center;
}